.slick-dots {
  height: 70px;
  list-style: none;
}

.slick-dots > li {
  background-color: theme('colors.primary');
  border-radius: 50%;
  opacity: 60%;
}

.slick-dots > li:hover {
  opacity: 60;
}

.slick-dots > li > button::before {
  color: transparent;
  height: 50px;
  content: none !important;
}

.slick-dots > .slick-active {
  background-color: theme('colors.primary');
  width: 40px;
  border-radius: 50px;
  opacity: 100%;
}

.slick-next {
  z-index: 99;
  background-color: theme('colors.primary') !important;
  height: 50px !important;
  width: 60px !important;
  border-radius: 50px 0 0 50px;
  margin: 0 25px 0 0;
}

.slick-arrow:hover {
  background-color: theme('colors.secondary') !important;
}

/* .slick-next::before {
} */

.slick-prev {
  z-index: 99;
  background-color: theme('colors.primary') !important;
  height: 50px !important;
  width: 60px !important;
  border-radius: 0 50px 50px 0;
  margin: 0 0 0 25px;
}

@media only screen and (max-width: 768px) {
  .slick-arrow {
    display: none !important;
  }
}