@tailwind base;
@tailwind components;
@tailwind utilities;

.team-item {
  border-top: 30px solid theme('colors.primary') !important;
  background: rgba(239, 239, 241, 0.8);
  /* margin: 0 20px 0 20px; */
  max-width: 400px;
  min-width: 300px;
  width: 100%;
}

.team-content::before {
  height: 200px;
  display: block;
  content: "";
  position: relative;
  top: -101px;
  background: theme('colors.primary');
  clip-path: polygon(50% 50%, 100% 50%, 50% 100%, 0% 50%);
  padding: 60px;
  opacity: 1;
}

.team-img-icon {
  position: relative;
  margin-top: -200px;
  padding: 30px;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-img {
  border: 15px solid theme('colors.white');
  max-width: 250px;
  max-height: 250px;
}

.team-img img {
  border: 10px solid theme('colors.primary');
  transition: .5s;
}

.team-item:hover h4 {
  color: theme('colors.primary');
  transition: .5s;
}

.team-item:hover .team-img img {
  transform: scale(1.05);
  border: 10px solid theme('colors.secondary');
}

@media (max-width: 992px) {
  /* .team-item {
      margin: 0;
  } */
}